In [32]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv('Anscombe\'s Quartet - Sheet1.csv')
df.dropna(inplace=True)
df

       X      Y   X.1   Y.1   X.2    Y.2   X.3    Y.3
0   10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
1    8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
2   13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
3    9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
4   11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
5   14.0   9.96  14.0   8.1  14.0   8.84   8.0   7.04
6    6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
7    4.0   4.26   4.0   3.1   4.0   5.39  19.0  12.50
8   12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
9    7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
10   5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

In [33]:
x_col=['X','X.1','X.2','X.3']
for col in x_col:
    print(df[col].mean(),np.std(df[col]))
    # x_mean = df[col].values.mean()
    # print(x_mean)

9.0 3.1622776601683795
9.0 3.1622776601683795
9.0 3.1622776601683795
9.0 3.1622776601683795

In [35]:
# print(df)
y_col=['Y','Y.1','Y.2','Y.3']
for col in y_col:
    # print(df[col].astype(float).mean())
    print(df[col].astype(float).mean(),np.std(df[col].astype(float)))

7.500909090909093 1.937024215108669
7.50090909090909 1.93710869148962
7.5 1.9359329439927313
7.500909090909091 1.9360806451340837